* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: no-repeat center center fixed;
  background-size: cover;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

/* BACKGROUND IMAGE */

.image-artist {
  position: absolute;
  left: 20px;
  top: 600px;
  text-shadow: 0 0 5px black;
  color: white;
  font-size: 12px;
}

.image-location {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  font-size: 16px;
  left: 20px;
  top: 580px;
  text-shadow: 0 0 5px black;
  color: white;
}

.new-image {
  position: absolute;
  font-size: 16px;
  left: 20px;
  top: 550px;
  cursor: pointer;
}

/* CLOCK */

.time-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 350px;
}

.time {
  font-family: "Oswald", sans-serif;
  font-size: 10rem;
  color: white;
  text-shadow: 0 0 1px black;
}
