* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: no-repeat center center fixed;
  background-size: cover;
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.App {
  position: relative;
  height: 55vh;
}
/* BACKGROUND IMAGE */

.image-artist {
  position: absolute;
  left: 20px;
  top: 600px;
  text-shadow: 0 0 5px black;
  color: white;
  font-size: 12px;
}

.image-location {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  font-size: 16px;
  left: 20px;
  top: 580px;
  text-shadow: 0 0 5px black;
  color: white;
}

.new-image {
  position: absolute;
  font-size: 16px;
  left: 20px;
  top: 550px;
  cursor: pointer;
}

/* CLOCK */

.time-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 350px;
}

.time {
  font-family: "Oswald", sans-serif;
  font-size: 10rem;
  color: white;
  text-shadow: 0 0 1px black;
}

.clock-format {
  height: 236px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 25px;
}

.btn-clock {
  border: none;
  margin: 1px;
  background-color: whitesmoke;
  border-radius: 8px;
  padding: 4px;
  font-size: 10px;
}

/* QUOTE */

.quote {
  position: absolute;
  color: white;
  width: 600px;
  left: 400px;
  bottom: -260px;
  text-align: center;
  text-shadow: 0 0 5px black;
  font-size: 14px;
}

/* GREET */

.greet-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.greet {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 55px;
}

.name-input {
  font-family: "Montserrat", sans-serif;
  height: 50px;
  border: none;
  border-bottom: 2px solid white;
  background: none;
  font-size: 30px;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.name-input:focus {
  outline: none;
}

.username-edit {
  display: inline;
}

/* CRYPTO */

.crypto-container {
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px;
  color: white;
}

.crypto-container > h3 {
  text-shadow: 1px -1px #d00000;
  font-size: 14px;
  color: #ffba08;
  background-color: #52b69a;
  padding: 5px;
  border-radius: 4px;
}

.crypto-price-container {
  background-color: #ffba08;
  padding: 4px;
  border-radius: 6px;
  margin-top: 2px;
  color: #52b69a;
  text-shadow: 1px -1px #d9ed92;
  font-weight: bold;
  font-size: 12px;
}
